body {
	background-color: #02010a;
}

.contenido{
	text-align: center;
	font-family: Dancing Script;
	
}



/* Para desktop (900px o más)*/
@media (min-width:900px){
	  .contenido{
             display: flex;
             width:900px;
             margin-right: 1%;
             flex-direction: column;
            margin-left: auto;
			margin-right:auto;
            }
       }

/* Para móvil (menos de 900px)*/
@media (max-width:899px){
	  .contenido{
             display: flex;
             flex-direction: column;
             width:100%;
             margin-right: 1%;
            }
  }

header {
	padding-right:1%;
	margin-left:0%;
	box-sizing: border-box;
	width: 100%;
	background-color: #5B7989;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	display: flex;
	align-items:center;
 
	justify-content:space-between;
	flex-direction:row;
	flex-wrap:wrap;
}

header .titulo{
	
	text-align: left ;
	color: white;
	text-shadow: 2px 2px #02010a;
}

header nav{
	width: 50%;
	text-align: right ;
	display:flex;
	flex-wrap:row wrap;
	align-items:center;
	
}

/*Agrego Shadow a Imagen*/
img {
	margin: 1% 1% 1% 1%;
	box-shadow: 2px 2px #02010a;
}


header nav a {
	
	color:white;
	text-align: center;
	padding:10px;
 
	/* Flexbox */
	flex-grow:1;
}

/*El link sin subrayar, va a variar el link con la clase ""link" de página en página*/

a.link {
		text-decoration: none;
	}

@media (min-width: 800px) {
	
}

/*Definiciones del Footer*/


footer {
	padding-right:1%;
	box-sizing: border-box;
	width: 100%;
	background-color: #C6d5c5;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	display: flex;
	align-items:center;
 
	justify-content:space-between;
	flex-direction:row;
	flex-wrap:wrap;
	vertical-align:top;
}

footer h1{
	color: black;
	text-align: left;
	vertical-align:top;
}

.pie {
	vertical-align: top;
	padding-left: 5px;
	text-align: left;
}

footer img{
	vertical-align: middle;
	margin: 0% 2% 0% 0%;
	box-shadow: 0px 0px #02010a ;
}

footer br{
	clear;
}

/* CSS parte central index.html*/
/* Definición de Imagen Central*/

.img-central {
	width:100%;
	text-align: center;
	background-color: #82c3a6;
}

/* Definiciones Imágenes Secundarias*/

.img-secundaria{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #d5c75f;
            border: 1px;

        }
.img-secundaria img{
            border: 1px solid black;
            /*margin-left: 20%;*/
        }

@media (max-width:900px){
	  .img-secundaria{
             display: flex;
             flex-direction: column;

            }
       .img-secundaria img{
                width: 70%;
                margin-left: 10%;
            }
        }
/* Animaciones imágenes secundarias*/

#paisajes img:hover {
		
	transform: rotate(10deg);
	box-shadow: 2px 2px #82c3a6;
	transition-duration: 0.7s;
}

#retratos img:hover {
		
	transform: translate(5px,-10px);
	box-shadow: 2px 2px #82c3a6;
	transition-duration: 0.7s;

}

/* CSS de página paisajes.html¨*/

.pag-paisajes{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding:2% 1% 2% 1%;
            background-color: #d5c75f;
            border: 1px;
        }
.pag-paisajes img{
            border: 1px solid black;
            width: 90%;
            /*margin-left: 5%;*/
        }

/*Efectos Imágenes*/

#blur {
	-webkit-filter: blur(10px);
}

#escala-grises {
	-webkit-filter: grayscale(100%);
}

#sepia {
	-webkit-filter: sepia(90%);
}

@media (max-width:900px){
	  .pag-paisajes{
             display: flex;
             flex-direction: column;

            }
       .pag-paisajes img{
                width: 50%;
                margin-left: 10%;
            }
        }


